.ProductsContainer {
    margin: 10px;

    .ProductsContainer-Desc {
        margin: 20px 10px;
        color: gray;
        overflow: hidden;

        &:after {
            content:"";
            display: inline-block;
            height: 0.5em;
            vertical-align: bottom;
            width: 100%;
            margin-right: -100%;
            margin-left: 10px;
            border-top: 1px solid gray;
        }
    }

    .ProductsContainer-List {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 5px 5px;
        justify-content: center;
    }
}